
/*add, commit, push to origin,
checkout master, checkout gh-pages, git merge master*/

body {
  background: url("images/treesbackground.jpg");
}

h1 {
  color: white;
  padding: 5px;
  text-align: center;
}

p {
  color: white;
  font-size: 30px;
}

.container {
  position: block;
  height: 600px;
  width: 650px;
/*  border: 2px solid white;*/
  text-align: center;
  margin: 0 auto;
  /*perspective: 1000px;*/
}

.box {
  height: 150px;
  width: 150px;
  float: left;
  margin: 5px;
  border: 1px solid white;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: all 0.5s linear;
}

.flip, .matched {
  transform: rotateY(180deg);
}

.face {
  position: absolute;
  width: 150px;
  height: 150px;
  backface-visibility: hidden;
  background-color: lightgray;
  opacity: 0.8;
}

.back {
  transform: rotateY(180deg);
  /*box-sizing: border-box;*/
}

.green {
  background-image: url("images/miniausie.jpg");
  background-size: cover;
}

.red {
  background-image: url("images/labradoodle2.jpg");
  background-size: cover;
}

.blue {
  background-image: url("images/schnauzer.jpg");
  background-position: center;
  background-size: 75%;
}

.yellow {
  background-image: url("images/pitbull.jpg");
  background-position: center;
  background-size: 135%;
}

.orange {
  background-image: url(images/beagle.jpg);
  background-position: center;
  background-size: 175%;
}

.purple {
  background-image: url("images/german.jpg");
  background-position: center;
  background-size: 175%;
}

button {
background-color: black;
color: white;
font-size: 20px;
margin-top: 20px;
cursor: pointer;
}
