
/*add, commit, push to origin,
checkout master, checkout gh-pages, git merge master*/

body {
  background: url("images/treesbackground.jpg");
}

.container3 {
  width: 650px;
  height: 75px;
  text-align: center;
  /*border: solid white 2px;*/
  margin: 0 auto;
}

h1 {
  color: white;
  padding: 0px 0px 0px 0px;
  text-align: center;
  margin: 0px;
}

.matchesNotify {
  color: #ffff80;
  font-size: 30px;
  margin: 0px;
}

.container {
  position: block;
  height: 500px;
  width: 650px;
  /*border: 2px solid white;*/
  text-align: center;
  margin: 0 auto;
}

.box {
  height: 150px;
  width: 150px;
  float: left;
  margin: 5px;
  border: 1px solid white;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: all 0.5s linear;
}

.flip, .matched {
  transform: rotateY(180deg);
}

.face {
  position: absolute;
  width: 150px;
  height: 150px;
  backface-visibility: hidden;
  background-color: lightgray;
  opacity: 0.8;
}

.back {
  transform: rotateY(180deg);
}

.dog1 {
  background-image: url("images/miniausie.jpg");
  background-size: cover;
}

.dog2 {
  background-image: url("images/labradoodle2.jpg");
  background-size: cover;
}

.dog3 {
  background-image: url("images/schnauzer.jpg");
  background-position: center;
  background-size: 75%;
}

.dog4 {
  background-image: url("images/pitbull.jpg");
  background-position: center;
  background-size: 135%;
}

.dog5 {
  background-image: url(images/beagle.jpg);
  background-position: center;
  background-size: 175%;
}

.dog6 {
  background-image: url("images/german.jpg");
  background-position: center;
  background-size: 175%;
}

.container2 {
  width: 635px;
  height: 75px;
 /* border: solid white 2px;*/
  margin: 0 auto;
}

.matchesMade {
  color: white;
  font-size: 20px;
  float: left;
}

button {
background-color: black;
color: white;
font-size: 18px;
float: right;
margin-top: 20px;
cursor: pointer;
}
